# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

#Visual Studio
*.vs
*.sln.DotSettings.user

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Specflow
*.feature.cs
